{% extends "base.html" %}

{% block title %}Quản Lý Sách - Hệ Thống Quản Lý Thư Viện{% endblock %}

{% block content %}
<div class="main-content">
    <!-- Header -->

    <div class="header-baocaothongke">Báo cáo Thống kê</div>


    <!-- Thống Kê Sách -->
    <div class="section-baocaothongke">
        <h3>Thống Kê Sách</h3>
        <div class="stat-group-baocaothongke">
            <div class="stat-box-baocaothongke purple">
                <i class="fas fa-book"></i>
                <p class="stat-number">{{ tongsachs }}</p>
                <p class="stat-label">Sách</p>
            </div>
            <div class="stat-box-baocaothongke pink">
                <i class="fas fa-book-open"></i>
                <p class="stat-number">{{ tongloaisachs }}</p>
                <p class="stat-label">Loại Sách</p>
            </div>
            <div class="stat-box-baocaothongke blue-light">
                <i class="fas fa-user"></i>
                <p class="stat-number">{{ tongnhanviens }}</p>
                <p class="stat-label">Tác Giả</p>
            </div>
            <div class="stat-box-baocaothongke green-dark">
                <i class="fas fa-building"></i>
                <p class="stat-number">{{ tongnhanviens }}</p>
                <p class="stat-label">Nhà Xuất Bản</p>
            </div>
        </div>
    </div>
    
    <!-- Thống kê Nhân viên - Độc giả - Số sách mượn -->
    <div class="section-baocaothongke">
        <h3>Thống kê Nhân viên - Độc giả - Số sách mượn</h3>
        <div class="stat-group-baocaothongke">
            <div class="stat-box-baocaothongke orange">
                <i class="fas fa-users"></i>
                <p class="stat-number">{{ tongsinhviens }}</p>
                <p class="stat-label">Sinh Viên</p>
            </div>
            <div class="stat-box-baocaothongke blue-dark">
                <i class="fas fa-book-reader"></i>
                <p class="stat-number">{{ tongsachmuons }}</p>
                <p class="stat-label">Sách Mượn</p>
            </div>
            <div class="stat-box-baocaothongke cyan">
                <i class="fas fa-user-tie"></i>
                <p class="stat-number">{{ tongnhanviens }}</p>
                <p class="stat-label">Nhân Viên</p>
            </div>
        </div>
    </div>
    

    <!-- Thống kê Sinh Viên Đang Mượn Sách và Quá Hạn -->
    <div class="section-baocaothongke">
        <h3>Thống kê Sinh Viên Đang Mượn Sách và Quá Hạn</h3>
        <div class="btn-group-baocaothongke">
            <a href="{{ url_for('danhsachdangmuon.get_danhsachdangmuon') }}" class="btn btn-danger">Danh Sách Đang Mượn</a>
            <a href="{{ url_for('danhsachquahan.get_danhsachquahan') }}" class="btn btn-danger">Danh Sách Quá Hạn</a>

        </div>

        {% block danhsach %}
            {% endblock %}
    </div>
</div>
{% endblock %}