{% extends "base.html" %}

{% block title %}Quản Ly Thu Vien - {% endblock %}

{% block content %}
    <div class="header-gioithieu">
        Giới Thiệu
    </div>

    <div class="content-gioithieu">
        <div class="project-title-gioithieu">
            Đồ Án Chuyên Ngành Công Nghệ Phần Mềm
        </div>

        <div class="welcome-text-gioithieu">
            Đồ án "Hệ thống Quản lý Thư viện" là một dự án phần mềm được phát triển với mục tiêu số hóa và tối ưu hóa các hoạt động quản lý trong một thư viện. Hệ thống này nhằm giải quyết những hạn chế của việc quản lý thủ công như tốn nhiều thời gian, dễ xảy ra sai sót, và khó kiểm soát số lượng tài liệu lớn. Thông qua việc áp dụng các công nghệ phần mềm hiện đại, dự án hướng tới tạo ra một giải pháp quản lý toàn diện, hiệu quả và thân thiện với người dùng.

Hệ thống được xây dựng theo cách tiếp cận bài bản, bao gồm việc phân tích yêu cầu, thiết kế giao diện và cơ sở dữ liệu, lập trình, kiểm thử, và triển khai. Nó không chỉ cung cấp các chức năng cơ bản mà còn hỗ trợ khả năng mở rộng trong tương lai, giúp thư viện dễ dàng thích nghi với sự phát triển của công nghệ.


Đồ án "Hệ thống Quản lý Thư viện" là một dự án phần mềm được phát triển với mục tiêu số hóa và tối ưu hóa các hoạt động quản lý trong một thư viện. Hệ thống này nhằm giải quyết những hạn chế của việc quản lý thủ công như tốn nhiều thời gian, dễ xảy ra sai sót, và khó kiểm soát số lượng tài liệu lớn. Thông qua việc áp dụng các công nghệ phần mềm hiện đại, dự án hướng tới tạo ra một giải pháp quản lý toàn diện, hiệu quả và thân thiện với người dùng.

Hệ thống được xây dựng theo cách tiếp cận bài bản, bao gồm việc phân tích yêu cầu, thiết kế giao diện và cơ sở dữ liệu, lập trình, kiểm thử, và triển khai. Nó không chỉ cung cấp các chức năng cơ bản mà còn hỗ trợ khả năng mở rộng trong tương lai, giúp thư viện dễ dàng thích nghi với sự phát triển của công nghệ.


        </div>
    </div>



{% endblock %}