.main-content-quanlynhanvien {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-quanlynhanvien {
   background-color: #2AA198;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.content-quanlynhanvien {
    padding: 20px;
}

h2 {
    color: #2AA198;
    text-align: center;
    margin-bottom: 20px;
}

.form-section-quanlynhanvien {
    background-color: #34495E;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-section-quanlynhanvien h3 {
    color: #A9CCE3;
    margin-bottom: 15px;
}

.form-group-quanlynhanvien {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ecf0f1;
    color: #333;
}

 .button-section-quanlynhanvien {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
    }

    .button-section-quanlynhanvien button {
        padding: 10px 20px;
        font-size: 16px;
        color: #efebeb;
        background-color: rgb(4, 143, 243);
        border: 2px solid #fa9f01;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
    }

    .button-section-quanlynhanvien button:hover {
      background-color: #f9f515;
      color: rgb(0, 0, 0);
    }


.data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    color: #333;
    margin-top: 1px;
}

.data-table th, .data-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}


.btn-delete-quanlynhanvien {
  background-color: #de4242;
  color: white;
  border: none;
  padding: 7px 10px 7px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}



.btn-delete-quanlynhanvien:hover {
  background-color: #a7fa01;
}

.col-chuc-nang-xoa-quanlynhanvien {
  text-align: center;
  vertical-align: middle; /* Centers content vertically within the cell */
}