/* styles.css */

.header {
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}
.container-tacgia {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.form-section-tacgia, .table-section {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-section-tacgia {
    width: 40%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.button-section-tacgia {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.button-section-tacgia button {
    padding: 10px 20px;
    font-size: 16px;
    color: #efebeb;
    background-color: rgb(4, 143, 243);
    border: 2px solid #fa9f01;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.button-section-tacgia button:hover {
  background-color: #f9f515;
  color: rgb(0, 0, 0);
}


.table-section {
    width: 55%;
}
.table-section .search-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}


.header-tacgia{
    background-color: #2AA198;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
  }


.btn-delete-tacgia {
background-color: #de4242;
color: white;
border: none;
padding: 7px 10px 7px 10px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}


.btn-delete-tacgia:hover {
background-color: #a7fa01;
}

/* Center content in specific table cells */


.col-ma-loai-tacgia { width: 10%; text-align: center;}
.col-ten-loai-sach-tacgia { width: 20%; text-align: center;}
.col-ghi-chu-tacgia { width: 30%; text-align: center;}
.col-chuc-nang-tacgia { width: 10%; text-align: center;}
/* Center content in specific table cells */
.col-chuc-nang-xoa-tacgia {
text-align: center;
vertical-align: middle; /* Centers content vertically within the cell */
}